h1{
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
    border-radius: 4px;
    font-size: 36px;
    font-family: trav;
    letter-spacing: 2px;
}

body{
    background-color: #5F5A4D;
}

li{
    font-size: 20px;
}
p{
    font-size: 20px;
}

div{
    text-align: center;
}

img{
    width: 350px;
    height: 250px;
    margin-right: 40px;
    border: 2px solid black;
}




@font-face {
    font-family: trav;
    src: url(Gemstone.ttf);
}